################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.stash
*.res
*.obj
*.pdb
*.Debug
*.Release
*.exp
*.ilk
*.lib
*.dll
*.user
*.vcxproj
*.filters
*.sln
*.suo
Makefile
Doc
