################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.stash
*.res
*.obj
*.pdb
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/GisMath/Makefile
*.Debug
*.Release
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Math/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Satellite/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Sofa/debug/Sofa.dll
*.exp
*.ilk
*.lib
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Sofa/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/GisMath/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Math/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Satellite/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Sofa/Makefile
*.dll
*.user
/build-STK-Desktop_Qt_5_14_2_MSVC2015_64bit-Debug
/Src/.vs/STK/v16
/Src/GisMath/x64
/Src/Math/x64
/Src/Satellite/x64
/Src/Sofa/x64
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/SatelliteToolKit/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/TestSTK/Makefile
/build-STK-Desktop_Qt_5_14_2_MSVC2015_64bit-Release
