################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.stash
*.res
*.obj
*.pdb
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/GisMath/Makefile
*.Debug
*.Release
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Math/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Satellite/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Sofa/debug/Sofa.dll
*.exp
*.ilk
*.lib
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Debug/Sofa/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/GisMath/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Math/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Satellite/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/Sofa/Makefile
*.dll
*.user
/build-STK-Desktop_Qt_5_14_2_MSVC2015_64bit-Debug
/Src/.vs/STK/v16
/Src/GisMath/x64
/Src/Math/x64
/Src/Satellite/x64
/Src/Sofa/x64
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/SatelliteToolKit/Makefile
/build-STK-Desktop_Qt_5_14_1_MSVC2015_64bit-Release/TestSTK/Makefile
/build-STK-Desktop_Qt_5_14_2_MSVC2015_64bit-Release
/build-STK-Qt4_8_6-Debug
/Doc/现有算法介绍文档.doc
/build-STK-Desktop_Qt_5_13_2_MSVC2017_64bit-Debug
/build-STK-Desktop_Qt_5_13_2_MSVC2017_64bit-Release
/build-STK-Desktop_Qt_5_15_0_MSVC2015_64bit-Debug
/Doc
/Lib
/Src/GisMath/Win32/Debug
/Src/GisMath/release/qmake
/Src/Math/debug/qmake
/Src/Math/release/qmake
/Src/Math/Win32/Debug
/Src/Satellite/debug/qmake
/Src/Satellite/release/qmake
/Src/Satellite/Win32/Debug
/Src/SatelliteToolKit/debug/qmake
/Src/SatelliteToolKit/release/qmake
/Src/SatelliteToolKit/Win32/Debug
/Src/SatelliteToolKit/x64/Debug
/Src/Sofa/debug/qmake
/Src/Sofa/release/qmake
/Src/Sofa/Win32/Debug
/Src/TestSTK/debug/qmake
/Src/TestSTK/release/qmake
/Src/TestSTK/Win32/Debug
/Src/TestSTK/x64/Debug
/Bin.zip
/Inc.zip
/Lib.zip
/VersionMath.zip
/Src/GisMath/debug/qmake
/Inc/Inc.zip
